doctype html
html
    head
    body
        h1 cchaim
        h2 hello world
        .google parent
        h4 google
        h2= friends
        h3 d
        //- -var myFunc = require('../imgs/ren.png')
        h1 myFunc
        <img src='images/ren.png'>